.help-people{
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 250px;
    width: 100%;
    height: auto;
}
.help-people div{
    width: 20%;
    height: 168px;
}

.help-people div article p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: #8E2424;
}
.help-people aside h3,.help-people aside p {
    padding: auto 50px;
    text-align: justify;

}
.help-people aside h3{
    text-align: left;
}
