.vagas h2{
    width: 125px;
    height: 28px;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    font-family: 'Inter';
    font-style: bold;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    color: #8E2424;
}
.vagas h3{
    width: 768px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #101828;
    margin: auto;
}
.vagas p{
    width: 768px;
    height: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    margin: 50px auto;
}
.vagas div img{
    width: 1216px;
    height: 400px;
    margin: auto;
}